body{
  max-width: 1440px;
  margin: 0 auto;
}

.header-nav{
  position: relative;
  padding:30px 15px;
}

.header-nav .logo {
  display: inline-block;
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
}

.header-nav .logo h1{
  font-size: 0;
}

.header-nav nav{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 30px;
}

.header-nav ul li{
  display: inline-block;
  padding: 15px;
}

.cabecalho ul li a:hover{
  font-weight: bold;
}
.panel{
  background: url(../images/painel.jpg)center center no-repeat;
  height: 620px;
}

.panel h2 {
  color: aliceblue;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.section-with-text {
  padding: 153px;
  text-align: center;
  clear: both; /*não entendi bem pq foi usado em uma header diferente da principal*/
}

.section-with-text img {
  width: 170px;
  height: 170px;
  margin-bottom: 70px;
}
.section-with-text h2{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 37px;
}

.section-with-text p{
  font-size: 18px;
  width: 702px;
  margin: 0 auto;
}

.section-with-text.our-location p {
  font-size: 28px;
}

.tile div {
  float:left;
}

.tile .big-img {
  background: url(../images/4.jpg) center center no-repeat;
  height: 600px;
  width:50%;
}
.tile .small-img {
  background: url(../images/3.jpg) center center no-repeat;
  height: 300px;
  width: 25%;  
}

.tile .small-img.grain {
  background: url(../images/2.jpg) center center no-repeat;
  height: 300px;
  width: 25%;  
}

.tile .medium-img {
  background: url(../images/1.jpg) center center no-repeat;
  height: 300px;
  width: 50%; 
}

.contact {
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  color: aliceblue;
  height: 600px;
  position: relative;
}

.contact h2{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact .address {
  font-size: 25px;
  font-weight: 600;
}

.contact .text {
  position: absolute;
  top: 30%;
  left: 50%;
}

.footer {
  background: url(../images/fundo-rodape.jpg) center center no-repeat;
  padding: 35px 30px;
  background-size: cover;
}

.footer ul {
  float: right;
  margin-top: 30px;
}

.footer ul li{
  display: inline-block;
  padding: 15px;
}

.footer ul li a{
  color: white;
}

.footer ul li a:hover{
  font-weight: bold;
}

.footer .copyright {
  color: aliceblue;
}

.footer .social-media .facebook,
.footer .social-media .instagram {
  width: 20px;
  height: 20px;
  margin: 10px;
} 

.footer .social-media {
  float: right;
  clear: both;
}

.footer .content-below {
  margin-top: 40px;
}